body {
  background-color: #F9F6E0;
  font-family: sans-serif;
}

h1 {
  color: #68B06E;
}

ul {
  list-style-type: none;
}

.textwrap {
  float: right;
  margin: 10px;
}

.textwrapleft {
  float: left;
  margin: 10px;
}

.blue {
  color: blue;
  font-family: monospace;
}
